body{
    display: grid;
    grid-template-rows: auto auto auto;
    color: rgb(0, 0, 0);
    background-color: rgb(33, 33, 143);
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 10fr 2fr;
}

header{
    grid-row: 1;
    background-color: white;
    text-align: left;
}

header h1{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 7rem;
    font-weight:800;
    color: rgb(33, 33, 143);
    margin-left: 2rem;

}

header p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    margin-top: -20px;
    color: rgb(21, 21, 96);
    margin-left: 3.5rem;
}

aside{
    grid-column: 2/3;
    background-color: rgb(213, 213, 213);

    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    gap: 10px;
    justify-items: center;
}

aside button{
    width: 50%;
    margin-top: 20px;
    height: 3rem;
    color: white;
    background-color: rgb(33, 33, 143);
    border: none;
    border-radius: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
}

aside button:hover{
    background-color: rgb(21, 21, 96);
    transform: scale(1.02);
}

footer{
    background-color: white;
}

.conteudo{
   background-color: white;
   color: rgb(33, 33, 143);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: left; 
   font-size: 1.3rem;
   margin-left: 3.5rem;
   width: 90%;
   padding: 1rem;
   margin: 3rem;
   border-radius: 1rem;

}

.conteudo h1{
    font-size: 3rem;
    font-weight: 800;
    margin-top: 1rem;
    margin-bottom: -1rem;
}

p{
    color: rgb(21, 21, 96);
}

.anuncios{
    background-color: white;
    margin-left: 3.5rem;
    width: 90%;
    padding: 1rem;
    margin: 3rem;
    border-radius: 1rem;
    color: rgb(33, 33, 143);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}

.anuncios h1{
    font-weight: 800;
    font-size: 3rem;
    margin-top: 1rem;
}

.anuncios button{
    width: 25%;
    height: 5rem;
    color: white;
    background-color: rgb(33, 33, 143);
    border: none;
    border-radius: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
    margin: 1rem;
    margin-top: -0.8rem;
    font-size: 1.5rem;
}

.anuncios button:hover{
    background-color: rgb(21, 21, 96);
    transform: scale(1.02);
}

html {
    scroll-behavior: smooth;
}
